<!doctype html>
<html lang="en">
    <head>
        <title>{% block title %}Test{% endblock %}</title>

        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href='{{ asset('bootstrap/css/bootstrap.min.css') }}'>
        <link rel="stylesheet" href='{{ asset('narrow-jumbotron/narrow-jumbotron.css') }}'>
        <!-- main -->
        <link rel="stylesheet" href='{{ asset('css/main.css') }}'>
    {% block stylesheets %}{% endblock %}
</head>
<body>

    <div class="container">
        <header class="header clearfix">
            <nav>
                <ul class="nav nav-pills float-right">
                    <li class="nav-item">
                        <a class="nav-link {% if (app.request.attributes.get('_route') == 'homepage') %}active{% endif %}"
                           href='{{ path('homepage') }}'>Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if (app.request.attributes.get('_route') == 'page1') %}active{% endif %}"
                           href='{{ path('page1') }}'>Page 1</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if (app.request.attributes.get('_route') == 'page2') %}active{% endif %}"
                           href='{{ path('page2') }}'>Page 2</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if (app.request.attributes.get('_route') == 'rechner') %}active{% endif %}"
                           href='{{ path('tarife') }}'>Tarifrechner</a>
                    </li>
                </ul>
            </nav>
            <h3 class="text-muted">{% block projektName %}DBB Tarifrechner{% endblock %}</h3>
        </header>

    {% block body %}{% endblock %}
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src='{{ asset('jQuery/jquery-3.2.1.slim.min.js') }}'></script>
<script src='{{ asset('popper/popper.min.js') }}'></script>
<script src='{{ asset('bootstrap/js/bootstrap.min.js') }}'></script>
{% block javascripts %}{% endblock %}

</body>
</html>