{% extends "base.html.twig" %}

{% block title %}Seite 3{% endblock %}

{% block body %}
    <p>Hier kommt das Formular hin...</p>

    {#{{form_start(form, {'bezeichnung': {'novalidate':'novalidate'}})}}#}
    {{form_start(form)}}
    {{form_widget(form)}}
    {# <input type="submit" value="Create" class="btn btn-default pull-right"/>#}
    {{form_end(form)}}

{% endblock %}


{#
{{form_start(form)}}
    {{form_widget(form)}}
{{form_end(form)}}
 #}



